
table#table {
	border-collapse: collapse;
	width: 500px;
}
#table th {
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
}

#table td {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	width: 300px;
	text-align: center;
	
}
#table td.image {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	
}

#table .header {
	background-color: #dbe5f1;
	font-weight: bold;
}

#table .user {
	background-color: #f3f3f3;
	text-align: center;
}

#table caption
{
	text-decoration: underline;
	font-weight: bold;
	caption-side: bottom;
	padding: 10px;
	font-style: italic;
}


img {
	height: 100px;
	float: left;
}


